<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
<h1>Index</h1>
<p th:text="${title}">메세지 표시</p>
<div th:object="${user}">
    <p>이름: <span th:text="*{name}"></span></p>
    <p>이메일: <span th:text="*{email}"></span></p>
    <p th:unless="*{admin}">관리자 아님</p>
    <p th:if="*{admin}">관리자</p>
</div>

<ul th:each="item: ${datas}">
    <li th:text="${item}"></li>
</ul>

<a th:href="@{/index/2}">Index2</a>

<form th:action="@{/users}" method="post">
    <input type="text" name="name" placeholder="이름">
    <input type="email" name="email" placeholder="이메일">
    <label for="admin">관리자</label>
    <input type="checkbox" name="admin" id="admin">
    <button type="submit">전송</button>
</form>
</body>
</html>